title: Isaac Peterson
description: Robotics • Multi-Agent RL • Simulation
github_username: Isaacwilliam4
linkedin_url: https://www.linkedin.com/in/isaac-w-peterson/

markdown: kramdown

collections:
  projects:
    output: true
    permalink: /projects/:name/

defaults:
  - scope:
      path: ""
    values:
      layout: default
  - scope:
      path: ""
      type: projects
    values:
      layout: project
